'scopeName': 'source.turbobasic'
'name': 'Turbo BASIC XL 1.5'
'fileTypes': ['tba', 'tb', 'tbl']
'patterns': [
  { # lines that do not begin with a line number are marked invalid
    'match': '^\\D+'
    'name': 'invalid.illegal.turbobasic'
  }
  { # numeric constants, which may include scientific notation
    'match': '(^\\d+)|(\\b(([0-9]+(\\.|\\s*E\\s*)?[0-9]*)|(\\.[0-9]+))\\b)'
    'captures':
      '1':
        'name': 'markup.bold.turbobasic'
      '2':
        'name': 'constant.numeric.turbobasic'
    'name': 'meta.constant.turbobasic'
  }
  { # strings
    'match': '(")([^"]*(")|.*\\n|.*$)'
    'captures':
      '1':
        'name': 'punctuation.definition.string.begin.turbobasic'
      '2':
        'name': 'string.quoted.double.turbobasic'
      '3':
        'name': 'punctuation.definition.string.begin.turbobasic'
    'name': 'meta.string.quoted.double.turbobasic'
  }
  { # operators
    'match': ':|;|=|\\+|-|\\*|/|\\^|\\?|!|\\[|\\]|"|&|<|>|(?i)EXOR|\\\\|@|_'
    'name': 'keyword.operator.turbobasic'
  }
# { # functions
#   'match': '(?i)\\b([A-Z]+\\$?)\\s*\\([^)]+\\)'
#   'captures':
#     '1':
#       'name': 'entity.name.function.turbobasic'
# }
  { # Line label command
    'match': '(?i)(#\\s.*(\\n|$))'
    'name': 'variable.language.turbobasic'
  }
  { # %PUT command
    'match': '(?i)\\b(%PUT)'
    'name': 'keyword.control.turbobasic'
  }
  { # %GET command
    'match': '(?i)\\b(%GET)'
    'name': 'keyword.control.turbobasic'
  }
  { # functions without arguments are invalid
    'match': '\\b([A-Z][a-z]+\\$?)\\s*\\(\\)'
    'name': 'invalid.illegal.turbobasic'
  }
  { # ABS function
    'match': '(?i)\\b(ABS)\\b'
    'name': 'entity.name.function.turbobasic'
  }
  { # AND operator
    'match': '(?i)\\b(AND)'
    'name': 'keyword.operator.turbobasic'
  }
  { # ASC function
    'match': '(?i)\\b(ASC)\\b'
    'name': 'entity.name.function.turbobasic'
  }
  { # ADR function
      'match': '(?i)\\b(ADR)\\b'
      'name': 'entity.name.function.turbobasic'
  }
  { # ATN function
    'match': '(?i)\\b(ATN)\\b'
    'name': 'entity.name.function.turbobasic'
  }
  { # BPUT command
    'match': '(?i)\\b(BPUT)'
    'name': 'keyword.control.turbobasic'
  }
  { # BGET command
    'match': '(?i)\\b(BGET)'
    'name': 'keyword.control.turbobasic'
  }
  { # BLOAD command
    'match': '(?i)\\b(BLOAD)'
    'name': 'keyword.control.turbobasic'
  }
  { # BRUN command
    'match': '(?i)\\b(BRUN)'
    'name': 'keyword.control.turbobasic'
  }
  { # BYE command
    'match': '(?i)\\b(BYE)|(BY\\.)'
    'name': 'keyword.control.turbobasic'
  }
  { # CHR$ function
    'match': '(?i)\\b(CHR(\\$|\\b))'
    'name': 'entity.name.function.turbobasic'
  }
  { # CLOAD command
    'match': '(?i)\\b(CLOAD)'
    'name': 'keyword.control.turbobasic'
  }
  { # CIRCLE command
    'match': '(?i)\\b(CIRCLE)'
    'name': 'keyword.control.turbobasic'
  }
  { # CLOG function
      'match': '(?i)\\b(CLOG)\\b'
      'name': 'entity.name.function.turbobasic'
  }
  { # CLOSE command
    'match': '(?i)\\b(CLOSE)'
    'name': 'keyword.control.turbobasic'
  }
  { # CLR command
    'match': '(?i)\\b(CLR)'
    'name': 'keyword.control.turbobasic'
  }
  { # CLS command
    'match': '(?i)\\b(CLS)'
    'name': 'keyword.control.turbobasic'
  }
  { # COLOR command
    'match': '(?i)\\b(COLOR)'
    'name': 'keyword.control.turbobasic'
  }
  { # COM command
      'match': '(?i)\\b(COM)'
      'name': 'keyword.control.turbobasic'
  }
  { # CONT command
    'match': '(?i)\\b(CONT)'
    'name': 'keyword.control.turbobasic'
  }
  { # COS function
    'match': '(?i)\\b(COS)\\b'
    'name': 'entity.name.function.turbobasic'
  }
  { # DATA command
    'match': '(?i)\\b(DATA)'
    'name': 'keyword.control.turbobasic'
  }
  { # DEG command
    'match': '(?i)\\b(DEG)'
    'name': 'keyword.control.turbobasic'
  }
  { # DIM command
    'match': '(?i)\\b(DIM)'
    'name': 'keyword.control.turbobasic'
  }
  { # DOS command
    'match': '(?i)\\b(DOS)'
    'name': 'keyword.control.turbobasic'
  }
  { # DO command
    'match': '(?i)\\b(DO)'
    'name': 'keyword.control.turbobasic'
  }
  { # DEC function
    'match': '(?i)\\b(DEC)\\b'
    'name': 'entity.name.function.turbobasic'
  }
  { # DIV function
    'match': '(?i)\\b(DIV)\\b'
    'name': 'entity.name.function.turbobasic'
  }
  { # DPOKE command
    'match': '(?i)\\b(DPOKE)'
    'name': 'keyword.control.turbobasic'
  }
  { # DPEEK function
    'match': '(?i)\\b(DPEEK)\\b'
    'name': 'entity.name.function.turbobasic'
  }
  { # DRAWTO command
    'match': '(?i)\\b(DRAWTO)'
    'name': 'keyword.control.turbobasic'
  }
  { # DSOUND command
    'match': '(?i)\\b(DSOUND)'
    'name': 'keyword.control.turbobasic'
  }
  { # END command
    'match': '(?i)\\b(END)$'
    'name': 'keyword.control.turbobasic'
  }
  { # ELSE command
      'match': '(?i)\\b(ELSE)'
      'name': 'keyword.control.turbobasic'
  }
  { # ENDIF command
      'match': '(?i)\\b(ENDIF)'
      'name': 'keyword.control.turbobasic'
  }
  { # ENDPROC command
      'match': '(?i)\\b(ENDPROC)'
      'name': 'keyword.control.turbobasic'
  }
  { # EXEC command
    'match': '(?i)\\b(EXEC)'
    'name': 'keyword.control.turbobasic'
  }
  { # EXIT command
    'match': '(?i)\\b(EXIT)'
    'name': 'keyword.control.turbobasic'
  }
  { # EXP function
    'match': '(?i)\\b(EXP)\\b'
    'name': 'entity.name.function.turbobasic'
  }
  { # FCOLOR command
    'match': '(?i)\\b(FCOLOR)'
    'name': 'keyword.control.turbobasic'
  }
  { # FILLTO command
    'match': '(?i)\\b(FILLTO)'
    'name': 'keyword.control.turbobasic'
  }
  { # FOR command
    'match': '(?i)\\b(FOR)'
    'name': 'keyword.control.turbobasic'
  }
  { # FRE function
    'match': '(?i)\\b(FRE)\\b'
    'name': 'entity.name.function.turbobasic'
  }
  { # FRAC function
    'match': '(?i)\\b(FRAC)\\b'
    'name': 'entity.name.function.turbobasic'
  }
  { # GRAPHICS command
    'match': '(?i)\\b(GRAPHICS)'
    'name': 'keyword.control.turbobasic'
  }
  { # GET command
    'match': '(?i)\\b(GET)'
    'name': 'keyword.control.turbobasic'
  }
  { # GOSUB command
    'match': '(?i)\\b(GOSUB)'
    'name': 'keyword.control.turbobasic'
  }
  { # GOTO command
    'match': '(?i)\\b(GO(\\s*)?TO)'
    'name': 'keyword.control.turbobasic'
  }
  { # GO# command
    'match': '(?i)\\b(GO#)'
    'name': 'keyword.control.turbobasic'
  }
  { # HEX function
    'match': '(?i)\\b(HEX\\$)\\b'
    'name': 'entity.name.function.turbobasic'
  }
  { # IF command
    'match': '(?i)\\b(IF)'
    'name': 'keyword.control.turbobasic'
  }
  { # INKEY$ system variables
    'match': '\\b(INKEY\\$)'
    'name': 'variable.language.turbobasic'
  }
  { # INPUT command
    'match': '(?i)\\b(INPUT)'
    'name': 'keyword.control.turbobasic'
  }
  { # INSTR command
    'match': '(?i)\\b(INSTR)'
    'name': 'keyword.control.turbobasic'
  }
  { # INT function
    'match': '(?i)\\b(INT)\\b'
    'name': 'entity.name.function.turbobasic'
  }
  { # LEN function
    'match': '(?i)\\b(LEN)\\b'
    'name': 'entity.name.function.turbobasic'
  }
  { # LET command
    'match': '(?i)\\b(LET)'
    'name': 'keyword.control.turbobasic'
  }
  { # LIST command
    'match': '(?i)\\b(LIST)'
    'name': 'keyword.control.turbobasic'
  }
  { # LOAD command
    'match': '(?i)\\b(LOAD)'
    'name': 'keyword.control.turbobasic'
  }
  { # LOOP command
    'match': '(?i)\\b(LOOP)'
    'name': 'keyword.control.turbobasic'
  }
  { # LOG function
    'match': '(?i)\\b(LOG)\\b'
    'name': 'entity.name.function.turbobasic'
  }
  { # MOD function
    'match': '(?i)\\b(MOD)\\b'
    'name': 'entity.name.function.turbobasic'
  }
  { # MOVE command
    'match': '(?i)\\b(MOVE)'
    'name': 'keyword.control.turbobasic'
  }
  { # -MOVE command
    'match': '(?i)\\b(\\-MOVE)'
    'name': 'keyword.control.turbobasic'
  }
  { # NEW command
    'match': '(?i)\\b(NEW)'
    'name': 'keyword.control.turbobasic'
  }
  { # NEXT command
    'match': '(?i)\\b(NEXT)'
    'name': 'keyword.control.turbobasic'
  }
  { # NOT operator
    'match': '(?i)\\b(NOT)'
    'name': 'keyword.operator.turbobasic'
  }
  { # ON command
    'match': '(?i)\\b(ON)'
    'name': 'keyword.control.turbobasic'
  }
  { # OPEN command
    'match': '(?i)\\b(OPEN)'
    'name': 'keyword.control.turbobasic'
  }
  { # OR operator
    'match': '(?i)\\b(OR)'
    'name': 'keyword.operator.turbobasic'
  }
  { # PAINT command
    'match': '(?i)\\b(PAINT)'
    'name': 'keyword.control.turbobasic'
  }
  { # PEEK function
    'match': '(?i)\\b(PEEK)\\b'
    'name': 'entity.name.function.turbobasic'
  }
  { # POKE command
    'match': '(?i)\\b(POKE)'
    'name': 'keyword.control.turbobasic'
  }
  { # POS function
    'match': '(?i)\\b(POS)\\b'
    'name': 'entity.name.function.turbobasic'
  }
  { # PRINT command
    'match': '(?i)\\b(PRINT)'
    'name': 'keyword.control.turbobasic'
  }
  { # PRINT with ? command
      'match': '(?i)\\b(\\?)'
      'name': 'keyword.control.turbobasic'
  }
  { # PROC command
      'match': '(?i)\\b(PROC)'
      'name': 'keyword.control.turbobasic'
  }
  { # POINT command
    'match': '(?i)\\b(POINT)'
    'name': 'keyword.control.turbobasic'
  }
  { # PUT command
    'match': '(?i)\\b(PUT)'
    'name': 'keyword.control.turbobasic'
  }
  { # REPEAT command
    'match': '(?i)\\b(REPEAT)'
    'name': 'keyword.control.turbobasic'
  }
  { # READ command
    'match': '(?i)\\b(READ)'
    'name': 'keyword.control.turbobasic'
  }
  { # REM command (comments): TODO: fix abreviations
    'match': '(?i)(REM.*(\\n|$))'
    'name': 'comment.line.turbobasic'
  }
  { #REM command as dot (comments)
      'match': '(\\.\\s.*(\\n|$))'
      'name': 'comment.line.turbobasic'
  }
  { # RESTORE command
    'match': '(?i)\\b(RESTORE)'
    'name': 'keyword.control.turbobasic'
  }
  { # RETURN command
    'match': '(?i)\\b(RETURN)'
    'name': 'keyword.control.turbobasic'
  }
  { # RAND function
    'match': '(?i)\\b(RAND)\\b'
    'name': 'entity.name.function.turbobasic'
  }
  { # RND function
    'match': '(?i)\\b(RND)\\b'
    'name': 'entity.name.function.turbobasic'
  }
  { # RUN command
    'match': '(?i)\\b(RUN)'
    'name': 'keyword.control.turbobasic'
  }
  { # SAVE command
    'match': '(?i)\\b(SAVE)'
    'name': 'keyword.control.turbobasic'
  }
  { # SGN function
    'match': '(?i)\\b(SGN)\\b'
    'name': 'entity.name.function.turbobasic'
  }
  { # SIN function
    'match': '(?i)\\b(SIN)\\b'
    'name': 'entity.name.function.turbobasic'
  }
  { # SQR function
    'match': '(?i)\\b(SQR)\\b'
    'name': 'entity.name.function.turbobasic'
  }
  { # STEP command
    'match': '(?i)\\b(STEP)'
    'name': 'keyword.control.turbobasic'
  }
  { # STOP command
    'match': '(?i)\\b(STOP)'
    'name': 'keyword.control.turbobasic'
  }
  { # SOUND command
    'match': '(?i)\\b(SOUND)'
    'name': 'keyword.control.turbobasic'
  }
  { # STR$ function
    'match': '(?i)\\b(STR(\\$|\\b))'
    'name': 'entity.name.function.turbobasic'
  }
  { # TIME/TIME$ system variables
    'match': '\\b(TIME(\\$|\\b))'
    'name': 'variable.language.turbobasic'
  }
  { # TAN function
    'match': '(?i)\\b(TAN)\\b'
    'name': 'entity.name.function.turbobasic'
  }
  { # THEN command
    'match': '(?i)\\b(THEN)'
    'name': 'keyword.control.turbobasic'
  }
  { # TEXT command
    'match': '(?i)\\b(TEXT)'
    'name': 'keyword.control.turbobasic'
  }
  { # TRAP command
    'match': '(?i)\\b(TRAP)'
    'name': 'keyword.control.turbobasic'
  }
  { # TRUNC function
    'match': '(?i)\\b(TRUNC)\\b'
    'name': 'entity.name.function.turbobasic'
  }
  { # UINSTR command
    'match': '(?i)\\b(UINSTR)'
    'name': 'keyword.control.turbobasic'
  }
  { # TO command
    'match': '(?i)\\b(TO)'
    'name': 'keyword.control.turbobasic'
  }
  { # USR function
    'match': '(?i)\\b(USR)\\b'
    'name': 'entity.name.function.turbobasic'
  }
  { # UNTIL command
    'match': '(?i)\\b(UNTIL)'
    'name': 'keyword.control.turbobasic'
  }
  { # WEND command
    'match': '(?i)\\b(WEND)'
    'name': 'keyword.control.turbobasic'
  }
  { # WHILE command
    'match': '(?i)\\b(WHILE)'
    'name': 'keyword.control.turbobasic'
  }
]
